@media only screen and (max-width: 800px){
    /*.u-center-4{*/
    /*    width: 100%;*/
    /*}*/
    /*.charts{*/
    /*    width: 100%;*/
    /*}*/
    /*.u-center-1{*/
    /*    width: 100%;*/
    /*}*/
    .about{
        width:70%;
    }
    .image{
        width: 63%;
    }
    .u-information {
        width: 100%;
    }
    .flex-direct{
        width: 100%;
    }
.card-1,.card{
    width: 32%;
}
    .u-center-title-3 {
        width: 69%;
        padding: 0 25px;
    }


}
@media only screen and (max-width: 600px){
    .image{
        width: 100%;
    }
    .about {
        width:100%;
    }
    .menu-bar{
        display: none;
    }
    .mobile-icon{
        display: block;
        text-align: center;
    }
    .card-1,.card{
        width: 48%;
    }
    /*.u-information {*/
    /*    width: 100%;*/
    /*}*/
    /*.u-center-title-3 {*/
    /*    width: 100%;*/
    /*    padding: 0 14px;*/
    /*}*/
    /*.charts{*/
    /*width: 100%;}*/
}

@media only screen and (max-width: 470px) {
    .about{
        width:100%;
    }
    .image{
        width: 100%;
    }
    .title {
        font-size: 41px;
    }
    .card-1, .card {
        width: 97%;

        img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    .u-center-title-3 {
        width: 100%;
        padding: 0 10px;
    }
    .u-center-3{
        padding: 0;
    }
    .charts{
        margin: 0;
    }

}